* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    color:#333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

span {
    display: block;
    background-color: #ebebeb;
    color: #017427;
    font-weight: 600;
    padding: 2px 10px;
    height: 40px;
    line-height: 35px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin-bottom: 40px;
}

.container {
    padding: 25px;
    max-width: 650px;
    margin: 40px auto;
}